<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @menu.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @menu.delivery_time %>
</p>

<p>
  <strong>Sensitivity cd:</strong>
  <%= @menu.sensitivity_cd %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
